header {
  display: flex;

  .logo {
    width: 191px;
    height: 63px;
    background: url(/assets/img/logo.png) no-repeat;
    text-indent: -999em;
  }

  @include for-desktop-up {
    background: $main-color;
  }
}
